[Unit]
Description=Kaetram MMORPG Game Server
After=network.target

[Service]
Type=simple
User=toor
WorkingDirectory=/opt/kaetram
Environment=NVM_DIR=/home/toor/.nvm
Environment=PATH=/home/toor/.nvm/versions/node/v20.20.2/bin:/usr/local/bin:/usr/bin:/bin
ExecStart=/home/toor/.nvm/versions/node/v20.20.2/bin/yarn start
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
